.tabs>li>form, .tabs>li>ul
    {
    height:300px;
    overflow:auto;
    background:inherit;/*#efe;*/
    padding:10px;
    position:absolute;
    top:20px;
    left:10px;
    z-index:9;    
    transition: all 0s linear 0.3s;
    }
.tabs>li>ul
    {
    padding-left:40px;
    width: 870px;	
    }
.tabs>li>form
    {
    text-align: right;
    width:600px;
    padding-right:310px;
    }
.tabs>li>form>textarea
    {
    width:90%;
    }
.tabs
    {
    list-style:none;
    position:relative;
    }
.tabs>li
    {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:silver;
    display:inline-block;
    padding:0 15px;
    }
.tabs li:first-child>form,.tabs>li:first-child>ul
    {
    z-index:10;
    }
.tabs>li:target>form,.tabs>li:target>ul
    {
    z-index:20 !important;
    }
.tabs>li:hover>form,.tabs>li:hover>ul
    {
    z-index:21 !important;
    }
.tabs>li>p, .tabs>li>a
    {
    display:block;
    padding:0 0 5px;
    margin:0;
    text-decoration:none;
    color:black;
    }
.error
    {
    color:red;
    }
#register
	{
	background:#faf;
	}
#login
	{
	background:#cfc;
	}
#supertasks
	{
	background:#ffa;
	}
#subtasks
	{
	background:#afa;
	}
#files
	{
	background:#ccf;
	}
#reports
	{
	background:#fdd;
	}
#load
	{
	background:#aff;
	}
#projects
	{
	background:#ccf;
	}
#renmov
	{
	background:#acf;
	}	
#test, #qa
	{
	background:#fb8;
	}
#build
	{
	background:#daf;
	}
#team
    {
    background:#ddd;
    }
#logout, logout a
	{
	bakcground:black;
	color:white;
	}