<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user}} &gt; {{project}} &gt; {{fname}}</title>
    <link rel=stylesheet href=/static/style.css>
</head>
<body>
{%if error%}<div class="error">{{error}}</div>{%endif%}
<h1><a href="/{{user}}" class=user-ref>{{user}}</a> 
/ <a href=/{{user}}/{{project}} class=project-ref>{{project}}</a> 
/ <span class=file-ref>{{fname}}</span></h1>
<ul class=tabs>
    <li id=files><a href=#files>Edit</a>
    <form method=POST>
        <textarea name=content rows=10>{{f}}</textarea><br>
        <input type=submit>
    </form>
    </li>
    <li id=renmov><a href=#renmov>Rename/move</a>
    <form method=POST>
        <input name=renmov value="{{fname}}"><br>
        <input name="action" value="remove" type=submit>
        <input type=submit>
    </form>
    </li>
    <li id=load><a href=#load>upload/download</a>
        <form method="POST">
            <input type="file" name="rawfile" placeholder="Upload">
            <input type="submit">
            <br><a href=".?mode=raw">Download</a>
        </form>
    </li>
</ul>
</body>
</html>