<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Log in or Register</title>
    <link rel=stylesheet href=static/style.css>
    <style>
        {%if not register%}
        .tabs li:first-child form
            {
            z-index:10;
            }
        {%endif%}
    </style>
</head>
<body>
{%if error%}<div class="error">{{error}}</div>{%endif%}
<ul class="tabs">
<li style="background:#efe"><p>Log in</p>
<form method=POST>
    User: <input name=user value="{{user}}"><br>
    Password: <input name=password type=password><br>
    <input type=submit>
</form></li>
<li style="background:#fef"><p>Register:</p>
<form method=POST action=register>
    User: <input name=user value="{{user}}"><br>
    Password: <input name=password type=password><br>
    Password (2): <input name=password2 type=password><br>
    E-mail: <input name=email type=email value="{{email}}"><br>
    <input type=submit>
</form></li></ul>
</body>
</html>