<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user}} &gt; {{project}}</title>
    <link rel=stylesheet href=../../static/style.css>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
{%if error%}<div class="error">{{error}}</div>{%endif%}
<h1><a href="/{{user}}">{{user}}</a> &gt; {{project}}</h1>
  <ul class=tabs>
    <li id=files><a href=#files>Files</a>
        <ul>
        {% for f in files %}
        <li><a href="{{f}}">{{f}}</a></li>
        {% endfor %}
        </ul>
    </li>
    {%if supertasks%}
    <li id=supertasks><a href=#supertasks>{%if is_subtask%}Subtask of{%else%}Implements{%endif%}</a>
        <ul>
        {% for p in supertasks %}
        <li><a href="/{{p}}">{{p}}</a></li>
        {% endfor %}
        {%if is_subtask%}
        <li><form action=".?action=addproj" method=POST>
        	<input name=testproj placeholder="Add test project"><input type=submit>
        </form></li>
        {%endif%}
        </ul>
    </li>
    {%endif%}
    {%if subtasks%}
    <li id=subtasks><a href=#subtasks>{%if is_subtask%}Implementetions{%else%}Subtasks{%endif%}</a>
        <ul>
        {% for p in subtasks %}
        <li><a href="../{{p}}">{{p}}</a></li>
        {% endfor %}
        </ul>
    </li>
    {%endif%}
    <li id=test><a href=#test>Send report</a>
	    <form method=POST>
            <input type="hidden" name="action" value="send_report">
            <textarea name=testreport></textarea>
            <br><input type=checkbox name=ok value=ok>Test is OK, no errors detected
            <br><input type=submit>
            <br><a href=".?watch=true">Watch this project</a>
	    </form>
    </li>
    {%if reports%}
    <li id="reports"><a href=#reports>All reports</a>
        <ul id="reportslist">
        {% for qa, dt, r in reports %}
        <li><a href="/{{qa}}">{{qa}}</a> {{dt}}:
            <blockquote>{{r}}</blockquote>
        </li>
        {% endfor %}
        </ul>
    </li>
    {%endif%}
    <li id=load><a href=#load>Upload/download</a>
        <form method="POST">
            <input type="hidden" name="action" value="upload">
            <input type="file" name="zipfile" placeholder="Upload as zip">
            <input type="submit">
            <br><a href=".?mode=zip">Download as zip</a>
        </form>
    </li>
    <li id=build><a href=#build>Build/integrate</a>
      <form method=POST>
    	<input type=radio name=action value=build checked>Create test build<br>
    	<input type=radio name=action value=integrate>Integrate this implementation into your project<br>
    	Target project:<select name=target>
    		<option value=user1/project>user1/project</option>
    		<option value=user1/testcase>user1/testcase</option>
    	</select>
      </form>
    </li>
    <li id=team><a href=#team>Project team</a>
      <ul>
          <!-- username (role) -->
          {% for username, role in team %}
          <li><a href="{{username}}">{{username}} ({{role}})</a></li>
          {% endfor %}
      </ul>
    </li>
  </ul>

  <script type="text/javascript" charset="utf-8">

  reports=document.getElementById('reportslist');


  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('connect', function() {
      //socket.emit('my event', {data: 'I\'m connected!'});
  });

  socket.on('qa_report {{user}}/{{project}}', function (data) {
    console.log(data);
    reports.innerHTML+='<li>'+data.text+'</li>';
  });

  </script>
</body>
</html>