<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user}} &gt; {{project}}</title>
    <link rel=stylesheet href=../../static/style.css>
</head>
<body>
    <h1>{{user}} &gt; {{project}}</h1>
  <ul class=tabs>
    {%if supertasks%}
    <li id=supertasks><a href=#supertasks>{%if is_subtask%}subtask of:{%else%}implements{%endif%}</a>
        <ul>
        {% for p in supertasks %}
        <li>{{p}}</li>
        {% endfor %}
        </ul>
    </li>
    {%endif%}
    <li id=files><a href=#files>Files:</a>
        <ul>
        {% for f in files %}
        <li>{{f}}</li>
        {% endfor %}
        </ul>
    </li>
    {%if subtasks%}
    <li id=subtasks><a href=#subtasks>Subtasks:</a>
        <ul>
        {% for p in subtasks %}
        <li>{{p}}</li>
        {% endfor %}
        </ul>
    </li>
    {%endif%}
    {%if testbuild%}
    <li id=test><a href=#test>Test report</a>
	    <form method=POST action=build/{{testbuild}}>
		<textarea name=testreport></textarea>
		<input type=submit>
	    </form>
    </li>
    {%endif%}
    {%if reports%}
    <li id="reports"><a href=#reports>All test reports</a>
        <ul>
        {% for qa, dt, r in reports %}
        <li>{{qa}} {{dt}}:
            <blockquote>{{r}}</blockquote>
        </li>
        {% endfor %}
        </ul>
    </li>
    {%endif%}
    <li><a href=#zip>upload/download</a>
        <form method="POST">
            <input type="file" name="zip" placeholder="Upload as zip">
            <input type="submit">
            <br><a href=".?mode=zip">Download as zip</a>
        </form>
    </li>
  </ul>
</body>
</html>