<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user}}</title>
    <link href="../static/style.css" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
{%if error%}<div class="error">{{error}}</div>{%endif%}
<h1><span class=user-ref>{{user}}</span></h1>
    <ul class="tabs">
        <li id="projects">
            <a href="#projects">Projects</a>
            <ul>
                {%for i in projects%}
                <li>
                    <a href="{{i}}">{{i}}</a>
                </li>
                {%endfor%}
                <li>
			<form method=GET>
				<input name=newproject placeholder="Add new project">
				<input type=submit>
			</form>
                </li>
            </ul>
        </li>
        <li id="subtasks">
            <a href="#subtasks">Subtasks</a>
            <ul>
                {%for i in subtasks%}
                <li>
                    <a href="{{i}}">{{i}}</a>
                </li>
                {%endfor%}
            </ul>
        </li>
        <li id="qa">
            <a href="#qa">QA tasks</a>
            <!-- qa tasks interactive check using websockets... -->
            <ul>
                {%for i in qatasks%}
                <li><a href="/{{i[0]}}"> {{'+'.join(i[1:])}}</a></li>
                {%endfor%}
            </ul>
        </li>
	<li id="reports"><a href=#reports>All reports</a>
		<ul id="reportslist">
		{% for qa, dt, r, p in reports %}
		<li><a href="/{{qa}}">{{qa}}</a> tested <a href=/{{p}}>{{p}}</a> {{dt}}:
		    <blockquote>{{r}}</blockquote>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li id="logout"><a href=/logout>Log out ({{user}})</a></li>
    </ul>
</body>
</html>