<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{user}}</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
{%if error%}<div class="error">{{error}}</div>{%endif%}
    <ul class="tabs">
        <li id="projects">
            <a href="#projects">Projects</a>
            <ul>
                {%for i in projects%}
                <li>
                    <a href="{{i}}">{{i}}</a>
                </li>
                {%endfor%}
            </ul>
        </li>
        <li id="subtasks">
            <a href="#subtasks">Subtasks</a>
            <ul>
                {%for i in subtasks%}
                <li>
                    <a href="{{i}}">{{i}}</a>
                </li>
                {%endfor%}
            </ul>
        </li>
        <li id="qa">
            <a href="#qa">QA tasks</a>
            <!-- qa tasks interactive check using websockets... -->
            <ul>
                {%for i in qatasks%}
                <li><a href="/{{i[0]}}"> {{'+'.join(i[1:])}}</a></li>
                {%endfor%}
            </ul>
        </li>
    </ul>
</body>
</html>